Question 1

In [ ]:
df = pd.read_csv('data.csv')
df.head()
df.info()
df.plot()
grouped_data = df.groupby('Category')['Value'].mean()
print(grouped_data)

Question 2

In [ ]:
import pandas as pd

def reindex_with_incrementing_index(df):
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.Index(range(1, len(df) * 2, 2))

    # Assign the new index to the DataFrame
    df.index = new_index

    return df

Question 3

In [ ]:
def sum_first_three_values(df):

    first_three_values = df['Values'].iloc[:3]
    sum_of_first_three = first_three_values.sum()
    print("Sum of the first three values:", sum_of_first_three)
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three_values(df)

Question 4

In [ ]:
df.head()
def cou(x):

  x=len(x)
  return x
df['Text']=df['Word_count'].apply(cou)

Question 5

DataFrame.size:

DataFrame.size returns the number of elements in the DataFrame, which is equivalent to the total number of cells in the DataFrame (number of rows multiplied by number of columns).
It returns an integer representing the total number of elements, including both non-null and null values.
DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame.
It returns a tuple (nrows, ncols) where nrows represents the number of rows and ncols represents the number of columns in the DataFrame.

Question 6

pd.read_excel()

Question 7

In [ ]:
def extract_username(df):
    # Extract username from each email address
    df['Username'] = df['Email'].str.split('@').str[0]

df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})
extract_username(df)
print(df)

Question 8

In [ ]:
def select_rows(df):
    # Boolean indexing to select rows based on conditions
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    return selected_rows


df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})
selected_df = select_rows(df)
print(selected_df)

Question 9

In [ ]:
mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()

Question 10

In [ ]:
import pandas as pd

def calculate_moving_average(df):
    # Convert 'Date' column to datetime if not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Sort DataFrame by date if not already sorted
    df = df.sort_values(by='Date')

    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df


df = pd.DataFrame({'Date': ['2024-05-01', '2024-05-02', '2024-05-03', '2024-05-04', '2024-05-05', '2024-05-06', '2024-05-07', '2024-05-08'],
                   'Sales': [10, 20, 30, 40, 50, 60, 70, 80]})


df = calculate_moving_average(df)
print(df)

Question 11

In [ ]:
import pandas as pd

def add_weekday_column(df):
    # Convert 'Date' column to datetime if not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Extract weekday name and assign to 'Weekday' column
    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df

# Example usage:
# Assuming df is your DataFrame with the column 'Date'
# Replace df with your DataFrame name
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

# Add weekday column
df = add_weekday_column(df)
print(df)

Question 12

In [ ]:
import pandas as pd

def select_rows_in_date_range(df):
    # Convert 'Date' column to datetime if not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Select rows where date is between '2023-01-01' and '2023-01-31'
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

    return selected_rows

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01']})

selected_df = select_rows_in_date_range(df)
print(selected_df)

Question 13

In [ ]:
import pandas as pd